@page "/home"
@inject NavigationManager Navigation

<h1 class="my-6">Welcome to HaSpMan</h1>

<div class="button-row">
    <CardButton Icon="@Icons.Filled.PersonAdd" OnClick="@(() => Navigate("/members/new"))">
        Add Member
    </CardButton>
    
    <CardButton Icon="@Icons.Filled.People" OnClick="@(() => Navigate("/members"))">
        List Members
    </CardButton>
    
    <CardButton Icon="@Icons.Filled.CompareArrows" OnClick="@(() => Navigate("/transactions/new"))">
        Add Transaction
    </CardButton>
    
    <CardButton Icon="@Icons.Filled.List" OnClick="@(() => Navigate("/transactions"))">
        List Transactions
    </CardButton>
</div>

@code {
    void Navigate(string uri)
    {
        Navigation.NavigateTo(uri, true);
    }
}