<div class="d-flex flex-column justify-start align-start mw-5">
    <MudCard class="mb-8 mt-2 pb-3 expand">
        <MudCardHeader class="pb-0">
            <MudText Typo="Typo.h5">Personal info</MudText>
        </MudCardHeader>
        <MudCardContent Class="d-flex flex-column gap-4 expand">
            <MudTextField T="string" Label="First name" @bind-Value="Member.FirstName" For="@(() => Member.FirstName)" />
            <MudTextField T="string" Label="Last name" @bind-Value="Member.LastName" For="@(() => Member.LastName)" />
            <MudTextField T="string" Label="Email" @bind-Value="Member.Email" For="@(() => Member.Email)" />
            <MudTextField T="string" Label="Phone number" @bind-Value="Member.PhoneNumber" For="@(() => Member.PhoneNumber)" />
        </MudCardContent>
    </MudCard>
    
    <MudCard class="my-8 pb-3 expand">
        <MudCardHeader class="pb-0">
            <MudText Typo="Typo.h5">Address</MudText>
        </MudCardHeader>
        <MudCardContent Class="d-flex flex-column gap-4 expand">
            <MudTextField T="string" Label="Street" @bind-Value="Member.Street" For="@(() => Member.Street)" />
            <MudTextField T="string" Label="House number" @bind-Value="Member.HouseNumber" For="@(() => Member.HouseNumber)" />
            <MudTextField T="string" Label="Postal code" @bind-Value="Member.ZipCode" For="@(() => Member.ZipCode)" />
            <MudTextField T="string" Label="City" @bind-Value="Member.City" For="@(() => Member.City)" />
            <MudTextField T="string" Label="Country" @bind-Value="Member.Country" For="@(() => Member.Country)" />
        </MudCardContent>
    </MudCard>
    
    <MudCard class="my-8 pb-3 expand">
        <MudCardHeader class="pb-0">
            <MudText Typo="Typo.h5">Membership</MudText>
        </MudCardHeader>
        <MudCardContent Class="d-flex flex-column gap-4 expand">
            <MudDatePicker @ref="_picker"
                           Editable="true"
                           Mask="@(new DateMask("dd/MM/yyyy"))"
                           DateFormat="dd/MM/yyyy" Label="Membership expiration date" @bind-Date="Member.MembershipExpiryDate" AutoClose="true">
                <PickerActions>
                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                </PickerActions>
            </MudDatePicker>
            
            <ErrorBoundary>
                <MudNumericField
                    Label="Monthly membership fee" 
                    @bind-Value="Member.MembershipFee" 
                    Format="F2" 
                    Min="0" 
                    Max="500"
                    Adornment="Adornment.Start" 
                    AdornmentIcon="@Icons.Material.Filled.EuroSymbol"
                    For="@(() => Member.MembershipFee)" />
                    </ErrorBoundary>
        </MudCardContent>
    </MudCard>

</div>

@code {
    [Parameter]
    public Models.MemberForm Member { get; set; } = new();

    MudDatePicker _picker = new();
}