@page "/members/new"
@using Commands
@using MediatR
@using AutoMapper
@inject IMediator _mediator
@inject IMapper _mapper
@inject ISnackbar Snackbar
@inject NavigationManager NavManager

<h1>Add new member</h1>

<EditForm Model="@_newMember" OnValidSubmit="@AddMember" OnInvalidSubmit="@ShowError">
   <DataAnnotationsValidator />

   <MudGrid>
      <MudItem xs="6">
         <MudTextField T="string" Label="First name" @bind-Value="_newMember.FirstName"
            For="@(() => _newMember.FirstName)" />
      </MudItem>
      <MudItem xs="6">
         <MudTextField T="string" Label="Last name" @bind-Value="_newMember.LastName"
            For="@(() => _newMember.LastName)" />
      </MudItem>
      <MudItem xs="12">
         <MudTextField T="string" Label="Email" @bind-Value="_newMember.Email" For="@(() => _newMember.Email)" />
      </MudItem>
      <MudItem xs="12">
         <MudTextField T="string" Label="Phone number" @bind-Value="_newMember.PhoneNumber"
            For="@(() => _newMember.PhoneNumber)" />
      </MudItem>
      <MudItem xs="12">
         <MudTextField T="string" Label="Street" @bind-Value="_newMember.Street" For="@(() => _newMember.Street)" />
      </MudItem>
      <MudItem xs="6">
         <MudTextField T="string" Label="House number" @bind-Value="_newMember.HouseNumber"
            For="@(() => _newMember.HouseNumber)" />
      </MudItem>
      <MudItem xs="6">
         <MudTextField T="string" Label="Postal code" @bind-Value="_newMember.ZipCode"
            For="@(() => _newMember.ZipCode)" />
      </MudItem>
      <MudItem xs="12">
         <MudTextField T="string" Label="City" @bind-Value="_newMember.City" For="@(() => _newMember.City)" />
      </MudItem>
      <MudItem xs="12">
         <MudTextField T="string" Label="Country" @bind-Value="_newMember.Country" For="@(() => _newMember.Country)" />
      </MudItem>
      <MudItem xs="12" sm="6" md="4">
         <MudDatePicker Label="Membership expiration date" @bind-Date="_newMember.MembershipExpiryDate" />
      </MudItem>
      <MudItem xs="12" sm="6">
         <MudNumericField Label="Monthly membership fee" @bind-Value="_newMember.MembershipFee" Format="F1"  />
      </MudItem>
      <MudItem xs="12" Class="d-flex justify-center">
         <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large"
            Class="mt-8" ButtonType="ButtonType.Submit">Add member</MudButton>
      </MudItem>
   </MudGrid>
</EditForm>

@code {
   private Models.NewMember _newMember = new();

   private async Task AddMember()
   {
      var command = _mapper.Map<AddMemberCommand>(_newMember);
      var response = await _mediator.Send(command);
      Snackbar.Clear();
      Snackbar.Add($"Member {_newMember.FirstName} {_newMember.LastName} added successfully!", Severity.Success);
      NavManager.NavigateTo("/members");
   }
   private void ShowError()
   {
      Snackbar.Clear();
      Snackbar.Add("Please correct all errors on the form", Severity.Error);
   }
}